Source: ros-r2b2-ceres-solver
Section: misc
Priority: extra
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), gfortran, libatlas-base-dev, libeigen3-dev, libgflags-dev, libgoogle-glog-dev, libsuitesparse-dev, ros-r2b2-ros-workspace
Homepage: http://ceres-solver.org/
Standards-Version: 3.9.2

Package: ros-r2b2-ceres-solver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gfortran, libatlas-base-dev, libeigen3-dev, libgflags-dev, libgoogle-glog-dev, libsuitesparse-dev, ros-r2b2-ros-workspace
Description: A large scale non-linear optimization library.
